.header {
  max-width: 1240px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 55px;
}

.navigation a {
  color: #000000;
  font-size: 24px;
  font-weight: 500;

  &.active {
    text-decoration-line: underline;
  }
}
.navigation a:hover,
a:active {
  text-decoration-line: underline;
}

@media (max-width: 768px) {
  .header {
    width: 90%;
    margin: 20px auto;

    .navigation ul {
      gap: 25px;
    }
    .navigation a {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .logo {
    width: 145px;
  }
}
